* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all .3s;
    user-select: none;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background:#29303e ;
}
.myntra-login {
    width: 1000px;
    height: 680px;
    display: flex;
}
.myntra-login form{
    background: #fff;
    width: 150%;
    padding: 50px 50px;
}
.myntra-login .poster{
    width: 250%;
    background: url('https://img.freepik.com/free-photo/pretty-shocked-young-woman-clasps-hands-with-astonishment-opens-mouth-widely-has-bugged-blue-eyes-dressed-denim-jacket_273609-17377.jpg?t=st=1729679588~exp=1729683188~hmac=b0ed4268368e8a1f5a3699d9724f928035a0af1a5309fae16793d1b9b59637f3&w=1380');
    background-size: cover;
    background-position: 50%;
}
.myntra-login form p {
    width: 100px;
}
.myntra-login form .heading{
    font-size: 1.4em;
    margin-top: 15px;
}
.myntra-login form p {
    font-size: .95rem;
    color: #444;
    margin-bottom: 100px;
}
.myntra-login form label {
    display: block;
    outline: none;
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 10px 0px;
}
.myntra-login form .forgot {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
    color: #444;
    font-size: .85em;
}
.myntra-login form .forgot label {
    margin-top: 0;
    font-size: 1em;
}
.myntra-login form .forgot input {
    width: auto;

}
.myntra-login form .forgot a {
    color: #e72744;
    cursor: pointer;
}
.myntra-login form button {
    border: none;
    outline: none;
    margin-top: 40px;
    padding: 12px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.myntra-login form .login {
    width: 60px;
    color: #fff;
    background: #e72744;
}
.myntra-login form .login:hover {
    background: #fff;
    color: #e72744;
    box-shadow: 0 0 10px #ccc;
}
.myntra-login form .signup {
    width: 28.5%;
    color: #e72744;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}
.myntra-login form .signup:hover {
    background: #e72744;
    color: #fff;
}
@media (min-width : 0px) and (max-width : 800px ) {
    .myntra-login {
        display: block;
        width: 350px;
        height: auto;
    }
    .myntra-login form {
        width: 100px;
        padding: 40px 40px;
    }
    .myntra-login .poster {
        display: none;
    }
    .myntra-login form .signup {
        width: 38%;
    }
}